{% extends "blog/base.html" %}


{% block content %}

    {% if form.errors %}
        <div class="alert alert-danger">
            <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Your username and password didn't match. Please try again.
        </div>
    {% endif %}

    <form id="login-form" method="post" action="{% url 'login' %}">
    {% csrf_token %}

        <div class="form-row">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>

        <div class="form-row">
            {{ form.password.label_tag }}
            {{ form.password }}
            <input type="hidden" name="next" value="{{ next }}" />
        </div>

        <div class="submit-row">
            <input type="submit" value="login" />
        </div>


    </form>

{% endblock %}